/* start of game section styles */
.game .card{
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    color: #bd4d3b;
    filter: grayscale(1);
    transition: all 0.4s ease-in-out;
}
.game .card:hover{
    filter: grayscale(0.3);
    cursor: n-resize;
}

.game .container{
 margin: 0 auto;
 width: 60%;
}

/* end of game section styles */